{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待付款订单列表</h3>

    <ul>
        <!--订单信息展示-->
        {% for order in orders %}
            <li>
                <a href="">
                    <p><!-- 订单id -->
                        {{ order.o_num }}
                    </p>
                    <p><!-- 数量 --></p>
                    {% for order_goods in order.ordergoodsmodel_set.all %}
                        <!--展示商品的名称-->
                        <li>
                            <img src="{{ order_goods.productimg }}" alt="">
                        </li>
                    {% endfor %}
            <!--处理结束-->
            </a>
            </li>
        {% endfor %}
        <!--订单处理结束-->


    </ul>


{% endblock %}
